doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Time Clickers Save Game Editor
    meta(name='description', content='A simple Time Clickers save game editor that decrypts save games into their raw JSON format for editing.')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', crossorigin='anonymous')
    link(rel='stylesheet', href='index.css')
  body: .container-fluid: .row
    mixin panel(title)
      .col-md-6: .container-fluid: .row: .panel.panel-default
        .panel-heading
          h4.panel-title= title
        .panel-body: form.form-horizontal
          .form-group: .col-md-12
            textarea.form-control(rows=8, spellcheck='false')
          block
    +panel('B64 Encrypted Data'): .form-group
      .col-md-2
        label.control-label IV Hex
      .col-md-10: .input-group
        input.form-control(type='text')
        span.input-group-btn
          button.btn.btn-secondary.glyphicon 
    +panel('Raw JSON Data'): .pull-right.text-muted
      a.text-muted(href='https://gitlab.com/lexxyfox/tcsge_h5') Source Code
      | &nbsp; | &nbsp;
      a.text-muted(href='https://gitlab.com/lexxyfox/tcsge_h5/wikis/home') Algorithm
    script(src='https://code.jquery.com/jquery-3.1.0.slim.min.js', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://cdn.rawgit.com/Dexus/js-mcrypt/master/mcrypt.js')
    script(src='https://cdn.rawgit.com/Dexus/js-mcrypt/master/rijndael.js')
    script(src='https://cdn.rawgit.com/AndreasPizsa/md5-jkmyers/master/md5.min.js')
    script(src='index.js')

